@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-text-primary: #282a32;
  --c-text-secondary: #686b87;
  --c-text-action: #404089;
  --c-tech: #263463;
  --c-border-primary: #eff1f6;
  --c-background-primary: #ffffff;
  --c-background-secondary: #fdfcff;
  --c-background-tertiary: #ecf3fe;
  --c-background-quaternary: #e9ecf4;
}

.header {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid var(--c-border-primary);
  background-color: var(--c-background-primary);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  align-items: center;
}

.header-content > a {
  display: none;
}

@media (max-width: 1200px) {
  .header-content {
    justify-content: space-between;
  }

  .header-content > a {
    display: inline-flex;
  }
}

.header-logo {
  margin-right: 2.5rem;
}

.header-logo a {
  display: flex;
  align-items: center;
}

.header-logo a div {
  flex-shrink: 0;
  position: relative;
}

.header-logo a div:after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 50%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}


.login {
  margin: auto;
  margin-top: 50px;
  border-radius: 30px;
  width: 350px;
  height: 350px;
  background-color: #e9ecf4;
  display: flex;
  border: 1px solid var(--c-border-primary);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.login_top {
  text-align: center;
  width: 350px;
  border-radius: 30px 30px 0px 0px;
  font-size: 23px;
  color: #fff; 
  margin: auto;
  margin-top: 0px;
  height: 55px;
  background-color: var(--c-tech);
  display: flex;
  align-items: center;
  justify-content: center;
}
.content_pad {
  margin-left: 10px;
  margin-right: 10px;
}


.form {
}
.form label {
  padding-top: 15px;
  display: block;
  margin-bottom: 0.05rem;
  font-weight: bold;
  padding-bottom: 3px;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  color: #28262c;
}

.actions {
  display: flex;
  gap: 0.5rem;
  padding-top: 15px;
}

.actions button {
  width: 60%;
  max-width: 300px;
  height: 50px;
  border: 1px solid;
  background: #42a9d4;
  border-radius: 25px;
  font-size: 18px;
  color: #fcfcfc;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  margin: 20px auto;
  display: block;
}

.actions button:hover {
  background-color: #23014a;
}
.actions button[type='button'] {
  background-color: transparent;
}

.actions button[type='button']:hover {
  color: #d1bee6;
}
